<%- include('header') -%>

<div class="box" id="heading">
    <h1><%= listTitle %></h1>
</div>

<div class="box">
    <% listItems.forEach(function (item) { %>
        <form action="/delete" method="post">

          <div class="item">
              <input type="checkbox" name="checkbox" value=<%=item._id%> onChange="this.form.submit()">
              <p><%= item.text %></p>
          </div>
          <input type="hidden" name="listName" value="<%= listTitle %>">

        </form>
    <% }); %>

    <form class="item" action="/" method="post">
        <input type="text" name="newItem" placeholder="New Item" autocomplete="off" autofocus>
        <button type="submit" name="list" value=<%= listTitle %>>+</button>
    </form>
</div>

<%- include('footer') -%>
